{% extends "base.html" %}        

{% block pageBase %}
        <h1> Esto seria la lista de Ingresos y Gastos</h1>
        <p> Un simulacro de contabilidad</p>

         
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lista %}{# se repetira toda estructura dentro #}
                <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>€{{item[2]}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table> 

        <a href="/new">Nuevo</a>
{% endblock %}        