{% extends 'base.html' %}

{% block pageBase %}
    <p>Registros disponibles:</p>
    <section>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>

                {% for registro in lista %}
                <tr>
                    <td>{{ registro[0] }}</td>
                    <td>{{ registro[1] }}</td>
                    <td>{{ registro[2] }}€</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </section>
{% endblock %}